body {
    overflow-x: hidden;
    background-color: gainsboro;
    background-image: url(img/back.png);
}
h3 {
    font-family: 'Trebuchet MS', cursive;
}
h5 {
    font-family:Arial, Helvetica, sans-serif
}
p {
    font-family: 'Times New Roman', Times, serif;
}
.navbar-brand {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-nav {
    font-family: 'Times New Roman', Times, serif;
}
.carousel {
    padding-top: 2rem;
}
.carousel-inner {
    border-radius: 6pt;
}
.card {
    width: auto;
    background-color: transparent;
    border: 0;
    padding: 2pt;
}
.card-body {
    background-color: whitesmoke;
    border-radius: 4pt;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:90%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
